* {
	padding: 0;
	margin: 0;
	outline: 0;
	box-sizing: inherit;
}

:root {
	--color-red: #c13838;
	--color-blue: #38AFC1;
	--color-blue-light: #70D2E0;
	--color-green: #769028;
	--color-green-light: #CCF258;
	--color-light: #fff;
	--color-dark: #262626;

	--font-size: 16px;
	--ff-headings: 'Signika', sans-serif;
	--ff-text: 'Raleway', sans-serif;
}

/* || Gerais */


html {
	font-family: var(--ff-text);
	scroll-behavior: smooth;
}

body {
	box-sizing: border-box;
}

section,
footer {
	padding: 2em;
}

h1,
h2,
h3 {
	margin: 0;
	font-family: var(--ff-headings);
}

.section__title {
	position: relative;
	display: inline-block;
	font-size: 2.5rem;
	color: var(--color-dark);
	margin-bottom: .5em;
	padding-bottom: .3rem;
}

.section__title>* {
	border-bottom: 2px solid var(--color-blue);
}

.section__title--direita {
	display: block;
	text-align: right;
}

.link {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	color: inherit;
	transition: transform 250ms;

}

.link:hover {
	transform: translateX(.8rem) scale(1.2);

}

@keyframes moveToRight {
	0% {
		opacity: 0;
		transform: translateX(-100%);
	}

	80% {
		transform: translateX(20px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}

}

@keyframes moveToLeft {
	0% {
		opacity: 0;
		transform: translateX(100%);
	}

	80% {
		transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}

}

@keyframes moveToTop {
	0% {
		opacity: 0;
		transform: translateY(100%);
	}

	80% {
		transform: translateY(-2px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}

}

/* || Botões */
.btn {
	display: inline-block;
	text-decoration: none;
	color: var(--color-light);
	padding: 8px 15px;
	margin-top: 1em;
	border-radius: 3px;
	border: transparent 1px solid;
	cursor: pointer;
	transition: 500ms ease;
	transition-property: background-color, border-color;
}

.btn--full {
	background-color: var(--color-blue);
	border-color: var(--color-blue);
	font-weight: bold;
}

.btn--ghost {
	background-color: transparent;
	border-color: var(--color-light);
	font-weight: 400;
}

.btn:hover {
	background-color: var(--color-green);
	border-color: var(--color-green);
}


/* || Hero */

.hero {
	position: relative;
	background: no-repeat;
	background-position: center bottom;
	background-attachment: scroll;
	background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/hero-bkg-small.png);
	background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	color: var(--color-light);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	backface-visibility: hidden;
}


.hero__header {
	position: absolute;
	top: 2em;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.hero__logo {
	padding-left: 2em;
}

.logo__icon,
.logo__text {
	font-size: 1.6rem;
}

.hero__content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	backface-visibility: hidden;
}

.hero__texts {
	text-align: center;
}

.title-box__title,
.title-box__subtitle {
	display: block;
}

.title-box__title {
	padding: 0;
	font-size: 5rem;
	font-weight: bold;
	line-height: 1;
	animation: moveToRight 1.5s ease;
}

.title-box__subtitle {
	margin-top: .5rem;
	font-size: 1.3rem;
	font-weight: 300;
	font-family: var(--ff-text);
	animation: moveToLeft 1.5s ease;
}


.hero__cta {
	animation: moveToTop 1.5s ease;
	animation-delay: 1.5s;
	animation-fill-mode: backwards;
}

/* .hero__title {
	padding: 0;
	font-size: 4rem;
	font-weight: bold;
	line-height: 1;
}

.hero__subtitle {
	margin-top: .5rem;
	font-size: 1.1rem;
	opacity: .8;
} */

@media screen and (min-width:600px) {
	.hero {
		display: block;
		background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/hero-bkg.png);
		background-attachment: fixed;
	}


	.hero__content {
		position: relative;
		top: 50%;
		transform: translateY(-50%);
	}

}



/* || Hero Nav */
.header__nav {
	display: block;
	position: fixed;
	background: var(--color-dark);
	bottom: 0;
	top: 0;
	right: 0;
	z-index: 100;
	width: 35%;
	min-width: 200px;
	transform: translate(100%);
	transition: transform 250ms ease;
}

.nav__list {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
}

.nav__item {
	font-size: 2.5rem;
	padding: .5em;
	transition: background-color 250ms ease-in-out;
	border-radius: 3px;
}

.nav__item:hover {
	background-color: var(--color-blue-light);
}

.nav__link {
	text-decoration: none;
	color: var(--color-light);
}

.hero__menu-button {
	position: absolute;
	cursor: pointer;
	border: none;
	padding: 2em;
	background-color: transparent;
	z-index: 10000;
	right: 0;
}

.menu-button__bars {
	display: block;
	position: relative;
	pointer-events: none;
}

.menu-button__bars,
.menu-button__bars::after,
.menu-button__bars::before {
	transition: 250ms ease-out;
	transition-property: transform, top, bottom;
	background-color: var(--color-light);
	width: 2em;
	height: 3px;
}

.menu-button__bars {
	position: relative;
}

.menu-button__bars::after,
.menu-button__bars::before {
	content: "";
	position: absolute;
	left: 0;
}

.menu-button__bars::before {
	top: -9px;
}

.menu-button__bars::after {
	bottom: -9px;
}

.menu-open .menu-button__bars {
	transform: rotate(45deg);
}

.menu-open .menu-button__bars::before {
	transform: rotate(90deg);
	top: -0px;
}

.menu-open .menu-button__bars::after {
	transform: rotate(-90deg);
	bottom: -0px;
}


.menu-open .header__nav {
	transform: translate(0%);
}


/* || Tours */

.tours__content {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: column;
}

.tours__content>* {
	flex: 1 1 20%;
}


.tour {
	position: relative;
}

.tour__img {
	position: relative;
	width: 100%;
	min-width: 240px;
}

.tour__data {
	position: absolute;
	padding: 1em;
	display: flex;
	flex-direction: column;
	width: 90%;
	max-width: 400px;
}

.tour__data--azul {
	top: 1em;
	left: 0em;
	background-color: var(--color-blue-light);
}

.tour__data--verde {
	bottom: 1em;
	right: 0em;
	background-color: var(--color-green-light);
}

.tour__name {
	font-family: var(--ff-headings);
	font-weight: bold;
}

.tour__info {
	display: grid;
	grid-template-areas:
		"datas datas datas"
		"data1 data2 data3"
		"mais preco preco";
	margin-top: .3em;
}

.info__heading {
	grid-area: datas;
}

.info__date {
	background-color: #fff;
	margin: .5em 0;
	margin-right: .1em;
	display: inline-block;
	padding: .2em;
	border-radius: 5px;
	overflow-x: auto;
	text-overflow: scroll;
	text-align: center;
}

.info__date+.info__date {
	margin-left: .1em;
}

.info__date:nth-child(1) {
	grid-area: data1;
}

.info__date:nth-child(2) {
	grid-area: data2;
}

.info__date:nth-child(3) {
	grid-area: data3;
}

.tour__link {
	grid-area: mais;
	text-decoration: none;
	text-align: center;
	color: var(--color-light);
	margin-right: 2em;
}

.tour__link--azul {
	background-color: var(--color-blue);
}

.tour__link--verde {
	background-color: var(--color-green);
}

.tour__price {
	grid-area: preco;
}


@media screen and (min-width:740px) {
	.tours__content {
		flex-direction: row;
	}
}

/* ||  Blog */

.blog__content {
	/* margin-top: 5em; */
	padding: 1em;
	background-color: var(--color-dark);
	color: var(--color-light);
}

.blog__imgs {
	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	margin-bottom: 2em;
}

.blog__img {
	width: 100%;
	max-width: 600px;
}

.blog__img--front {
	display: none;
}


.blog__client {
	display: block;
}

.client__name {
	font-family: var(--ff-text);
	font-weight: 400;
	font-size: 1.8em;
}

.client__stars {
	margin: 0 0 1em 0;
	color: var(--color-blue);
}

.client__tour {
	margin-bottom: 1em;
	font-family: var(--ff-text);
	font-weight: 400;
	font-size: 1.3em;
}

.client__opnion {
	margin-bottom: 4em;
	font-family: var(--ff-text);
	font-weight: 400;
	font-size: 1em;
}


/* ||  Contato */

.contato__contents {
	font-size: 1.2rem;
	font-family: var(--ff-text);
}

.contato__info>* {
	display: block;
	margin-bottom: 1rem;
}


.contato__email {
	display: block;
	margin-top: 2rem;
	text-align: center;
}

.email__title {
	color: var(--color-blue);
	font-weight: 700;
	margin-bottom: 3rem;
	font-size: 1.8rem;
}

.email__item {
	position: relative;
	margin: 2rem 0;
}




.email__input {
	border: none;
	width: 100%;
	border-bottom: 2px solid var(--color-dark);
	transition: border-color 250ms;
}

.email__input:focus {
	border-color: var(--color-blue);
}

.email__input:focus:invalid {
	border-color: var(--color-red);
}

.email__label {
	position: absolute;
	top: 0;
	left: 0;
	font-weight: 600;
	transition: 250ms;
	transition-property: color, top;
}

.email__input:focus+.email__label {
	top: -1.5rem;
	color: var(--color-blue);
}


.email__input:valid+.email__label {
	top: -1.5rem;
	color: var(--color-blue);
}

.email__input:focus:invalid+.email__label {
	top: -1.5rem;
	color: var(--color-red);
}


/* || Footer */

.footer {
	color: var(--color-light);
	background-color: var(--color-dark);
	margin: 0 auto;
}

.footer__logo {
	text-align: center;
	margin-bottom: 2rem;
}

.footer__nav {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.footer__nav>*:not(:last-child) {
	margin-bottom: 2rem;
}



.footer__pages::before {
	content: attr(titulo);
	display: inline-block;
	margin-bottom: 1rem;
	font-weight: 400;

}

.footer__page {
	list-style: none;
	opacity: .6;
	cursor: pointer;
}

.footer__page:not(:last-child) {
	margin-bottom: .3rem;
}


@media screen and (max-width:320px) {
	.title-box__title {
		font-size: 3.5rem;
	}

	.title-box__subtitle {
		font-size: 1rem;
	}
}


@media screen and (min-width:700px) {

	.contato__contents {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.footer__nav {
		justify-content: space-evenly;
		flex-direction: row;
		align-items: baseline;
		gap: 5rem;
		margin-right: 6rem;
	}
}


@media screen and (min-width:1000px) {

	.header__nav {
		display: block;
		position: relative;
		background-color: transparent;
		width: 40%;

		transform: translate(0);
	}

	.hero__menu-button {
		display: none;
	}

	.nav__list {
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
		font-size: var(--ff-text);
	}

	.nav__item,
	.nav__link {
		font-size: inherit;
	}


	.tours__content>.tour:not(:last-child) {
		margin-right: 2rem;
	}


	.blog__content {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 60vh;
		padding: 4rem 0;
	}

	.blog__content>* {
		flex: 1 1 50%;
	}

	.blog__imgs {
		margin-right: 2rem;
		position: relative;
		width: 100%;
	}

	.blog__img--front {
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		width: 35%;
		min-width: 140px;
		z-index: 20;
		transform: translate(-100%, 10%);
	}

	.blog__img--back {
		position: absolute;
		top: 0;
		right: 0;
		width: 75%;
		transform: translateY(-5%);
	}

	.client__opnion {
		max-width: 600px;
		font-size: 1.4rem;
	}

	.contato__email {
		max-width: 50%;
		width: 100%;
		margin-right: 4rem;
	}
}

@media screen and (min-width:2000px) {
	.blog__imgs {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: row;
	}

	.blog__img--front {
		display: none;
	}

	.blog__img--back {
		display: block;
		position: relative;
		transform: translateY(0);
	}
}
